body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

#wrap {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

#search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

#div-search {
    display: flex;
    align-items: center;
}

select, input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#write_btn {
    margin-top: 20px;
    background-color: #a2a6a9
    color: black;
    border: 3px;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

#write_btn:hover {
    background-color: #8c9093
}
/* 기존 CSS 코드에 추가 */
.notice_write_btn{
	text-align: right;
}

